<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings>
  <add name="Model1" connectionString="data source=(local)\SQLEXPRESS;initial catalog=ecolife;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="conexionadonet" connectionString="data source=(local)\SQLEXPRESS;initial catalog=ecolife;integrated security=True"/>

</connectionStrings></configuration>
