@model Producto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MostrarProducto</title>
</head>
<body>
    <div>
        <h1>@Model.Nombre</h1>
        <h2>@Model.Precio</h2>

    </div>
</body>
</html>
